<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="css\styles.css">
        <style>
            body{
    margin:0;
    /* background-image: url("C:\Users\Nagesh\Desktop\Project\DBMS project\image1.jpg"); */
    /* background:linear-gradient(to right,rgb(120, 201, 207),rgb(104, 104, 223)) */
}
.bu{
    height:3rem;
    width:6rem;
    margin-right:0;
    margin-left:0;
    color:yellow;
     background-color: transparent;
    background-repeat: no-repeat;
    overflow:hidden;
    outline:none;
}
.bu:hover{
    background-color: rgba(34, 43, 38, 0.171);
    text-decoration: none;
}
.l{
    color:rgba(234, 227, 235, 0.685);
    text-decoration: none; 
    margin-top:8rem;
}
 .loim{
    /* display:flex; */
    margin-left: 32%;
} 
.login{
    margin-top:4.5rem;
    padding-top:13vh;
    padding-bottom:13vh;
    height:30vh;
    width:20rem;
    text-align:center;
    margin-left:10vw;
    border:solid .1rem rgb(14, 13, 13);
    border-radius: 2rem;
    flex:30%;
}
.loginput{
    margin-bottom:1rem;
    height:2.5rem;
    width:12rem;
    background:transparent; 
    color:rgb(243, 234, 234);
    text-align:center;
}
::placeholder {color:rgba(243, 237, 243, 0.781);}
.logimg{
    flex:70%;
    height:60vh;
    width:40vw;
    margin:5rem; 
}
.rf{
    align-items:center ;
}
.rfi{
    background: transparent;
}
label,input{
   margin-bottom:2%;
   margin-top:2%;
   height:1.5rem;
}
table{
    margin-left: auto;
    margin-right: auto;
}

        </style>
    </head>
    <body style="background-image: url('image1.jpg '); background-size: 100%; text-align:center;">
        <img src="logo.jpg" alt="logo" height="100px" width="100px" style="display:inline-block;margin-top:10px ; float:left; margin-left: 50px;">
        <h1 style="display:inline-block; font-style: oblique; color: darksalmon;">Cake My Day</h1>
        <div>
            <a href="/" class="l"><button class="bu">Login</button></a>
            <a href="/register" class="l"><button class="bu">Register</button></a>
        </div>
        <div class="loim">
        <form action="/" class="login" method="POST">
            <select class="loginput" name="typeofuser">
                <option style="background-color: black;">Customer</option>
                <option style="background-color: black;">Manager</option>
            </select><br>
            <input type="text" name="email" placeholder="Email" class="loginput"><br>
            <input type="password" name="password" placeholder="Password" class="loginput"><br>
            <span id='message'></span>
            <div class="error"></div>
            <!-- <button type="submit" class="loginput">Login</button> -->
            <input type="submit" class="loginput" value="Login">
        </form>
         </div> 
    </body>
    <script>
        const form = document.querySelector('form');                                        //to select a tag first tag is selected in case of multiple tags
        const error = document.querySelector('.error');
      
        form.addEventListener('submit', async (e) => {
          e.preventDefault();
          // reset errors
          error.textContent = '';
          // get values
          const email = form.email.value;
          const password = form.password.value;
          const typeofuser=form.typeofuser.value;
          try {
            const res = await fetch('/', {
              method: 'POST',
              body: JSON.stringify({ email, password,typeofuser }),
              headers: { 'Content-Type': 'application/json' }
            });
            const data = await res.json();
            console.log('heredata',data.errors);
            if (data.errors) {
              error.textContent = data.errors;
            }
            if (data.user) {
                if(typeofuser=="Customer"){
                    location.assign('/homepage');
                }
                else{
                    location.assign('/homepage1');
                }
            }
          }
          catch (err) {
            console.log('error',err);
          }
        });
      </script>
</html>